.form-wrapper { 
    width: 80%;
    margin: auto;
    margin-top: 8vh;
}

.form-group { 
    margin-bottom: 3vh;
    overflow: hidden;
}

.form-group { 
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.form-group.check-box { 
    display: block;
}

.control-wrapper { 
    width: 90%;
}

.form-item { 
    padding: 10px;
    border-radius: 8px;
    border: 1px solid lightgray;
    width: 100%;
    transition: border-color .2s ease;
    border: 2px solid transparent;
}

.form-item.ng-touched.ng-invalid,
.invalid-form .form-item { 
    border-color: red;
}

.form-item:focus { 
    border-color: var(--secondary-color);
}

.actions { 
    display: flex;
    justify-content: flex-end;
    margin-top: 5vh;
    overflow: hidden;
}

.btn-sub { 
    border: none;
    background: var(--secondary-color);
    color: #fff;
    padding: 15px 0;
    border-radius: 5px;
    transition: background-color .2s ease-out;
    margin-left: 1vw;
    width: 10vw;
}

.btn-sub:disabled { 
    background: var(--disabled-secondary-color);
}

.btn-sub:not([disabled]):hover { 
    background: var(--secondary-hover-color);
}

.btn-alert { 
    padding: 10px 0;
    width: 10vw;
}