<div class="wrapper container">
    <h2 class="form-title"> {{ isSettingPassword ? "Set" : "Change" }} Password </h2>

    <p class="server-msg" [class.error]="isServerError" *ngIf="serverMsg"> {{ serverMsg }} </p>


    <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">

        <div class="form-group">
            <input type="password" placeholder="Enter new password" class="form-item" formControlName="newPassword">
            <ng-container *ngIf="newPassword.errors && (newPassword.touched || isFormSubmitted)">
                <span class="error" *ngIf="newPassword.errors.required">Password is required</span>
                <span class="error" *ngIf="!newPassword.errors.required && newPassword.errors.minLength"> Password must be atleast {{ newPassword.errors.minLength.requiredLength }} characters long.</span>
            </ng-container>
        </div>

        <div class="form-group">
            <input type="password" placeholder="Confirm new password" class="form-item" formControlName="confirmNewPassword">
            <ng-container *ngIf="newPassword.valid && confirmNewPassword.errors && (confirmNewPassword.touched || isFormSubmitted)">
                <span class="error" *ngIf="confirmNewPassword.errors.required">Please confirm new password.</span>
                <span class="error" *ngIf="!confirmNewPassword.errors.required && confirmNewPassword.errors.minLength"> Password must be atleast {{ confirmNewPassword.errors.minLength.requiredLength }} characters long.</span>
                <span class="error" *ngIf="confirmNewPassword.errors.notEqual"> Passwords don't match. </span>
            </ng-container>
        </div>

        <button class="sub-btn" type="submit">Submit</button>
    </form>

    <p class="info">Use strong password, it is recommended to use passphrase instead of password like 'I visited paris tomorrow and enjoyed it'.</p>
    
</div>