/* .entry-search { 
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

.entry-search label { 
    font-weight: bold;
}

.entry-search input { 
    padding: 14px;
    width: 25vw;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-left: 1vw;
} */

.add-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4vh;
    overflow: hidden;
}

.entries-data {
    width: 100%;
    margin-top: 5vh;
    border-collapse: collapse;
    background: #fff;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.entries-data th {
    padding: 10px 0;
}

.entries-data td {
    padding: 15px 0;
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.clickable i {
    transition: color .1s ease-in;
}

.clickable:hover i {
    color: var(--secondary-color);
}

.entries-data td:last-child {
    color: #d15f5f;
}

.entries-data .clickable:last-child:hover i {
    color: #d83030 !important;
}