header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 0 2vw;
    background: #242424;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation { 
    display: flex;
    align-items: center;
}

.bar { 
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
}

.wrapper { 
    margin-top: var(--header-height);
}

.user-wrapper { 
    position: relative;
}

.user-icon:hover ~ .user-dropdown,
.user-dropdown:hover { 
    opacity: 1;
    transform: scale(1, 1);
}

.user-dropdown { 
    opacity: 0;
    position: absolute;
    top: 60%;
    right: 40%;
    background: #fff;
    border-radius: 0 0 5px 5px;
    transform-origin: top right;
    transform: scale(0, 0);
    transition: transform .2s ease-out, opacity .2s ease-in;
    width: 13vw;
}

.user-dropdown-item { 
    width: 100%;
}

.user-dropdown-item a,
.user-dropdown-item button { 
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 15px;
    border-bottom: 1px solid #d6d6d6;
    transition: background-color .2s ease-out;
}

.user-dropdown-item a:hover,
.user-dropdown-item button:hover { 
    background: #e4e4e4;
}

.user-dropdown-item button { 
    text-align: left;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    background: #fff;
    padding: 7px 10px;
}

.user-dropdown-item a > i { 
    margin-right: .5vw;
}

.user-icon { 
    color: #fff;
    font-size: 20px;
}

.wrapper { 
    display: flex;
}

.side-nav { 
    height: 90vh;
    background: #2cd;
    width: var(--side-nav-width);
    transition: background-color .2s ease-in, transform .2s ease-in;
    position: fixed;
    top: var(--header-height);
    left: 0;
    min-width: fit-content;
}

.main-section { 
    width: 100%;
    padding: 2vw 5vw;
    margin-left: var(--side-nav-width);
}

.nav-wrapper { 
    margin-top: 10px;
    white-space: nowrap;
}

.nav-item-link { 
    color: #fff;
    width: 100%;
    display: block;
    padding: 10px 15px;
}

.nav-item-link > i { 
    margin-right: 10px;
}

.nav-item a { 
    transition: background-color .1s ease-in;
}

.nav-item a.active { 
    background: rgb(21, 182, 197);
}

.nav-item a:hover { 
    background: rgb(21, 182, 197);
}

.nav-item:active { 
    transform: scale(1, .9);
}