.action-group { 
    margin-top: 18px;
}

.action-item { 
    font-size: 13px;
    text-align: left;
    margin-bottom: 3px;
}

.action-item button { 
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 13px;
    margin-left: 4px;
    background: transparent;
    border: none;
}