.popup-wrapper { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    z-index: 999;
}

.wrapper-card {
    background: #fff;
    display: inline-block;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 40%;
    left: 50%;
    padding: 15px 20px;
    border-radius: 2px;
    max-width: 60vw;
}


.msg i { 
    color: red;
    margin-right: 5px;
}

.btn-close { 
    background: transparent;
    border: none;
    background: #15d115;
    color: #fff;
    padding: 10px 15px;
    float: right;
    margin-top: 2vh;
}