.server-update { 
    background:#18a518;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 4vh;
}

.server-update button { 
    background: #105810;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.server-update button:hover { 
    background: #0a410a;
}

.add-new { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4vh;
    overflow: hidden;
}

.supevisor-data { 
    width: 100%;
    border: 1px solid grey;
    border-collapse: collapse;
    background: #fff;
    border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 4vh;
}

.supevisor-data th,
.supevisor-data td { 
    padding: 15px 10px;
    text-align: center;
}

.supevisor-data th:first-child,
.supevisor-data td:first-child { 
    text-align: left;
    width: 60%;
}

.clickable { 
    cursor: pointer;
}

.clickable i { 
    transition: color .1s ease-in;
}

.clickable:hover i { 
    color: var(--secondary-color);
}

.supevisor-data td:last-child {
    color: #d15f5f;
}

.supevisor-data .clickable:last-child:hover i {
    color: #d83030 !important;
}

.deleted td { 
    width: 100%;
}