<div class="wrapper container">
    <p class="server-msg" *ngIf="serverMsg" [class.error]="isServerError"> {{ serverMsg }} </p>

    <h2 class="form-title"> Reset password </h2>

    <form [formGroup]="resetForm" (ngSubmit)="onResetRequest()">
        <div class="form-group">
            <input type="text" placeholder="Enter email address" class="form-item" formControlName="email">
            <div class="error" *ngIf="email.touched && email.errors">
                <p class="error" *ngIf="email.errors.required">Email is required </p>
                <p class="error" *ngIf="!email.errors.required && email.errors.regex">Invalid gmail account... </p>
            </div>
        </div>

        <button class="sub-btn" type="submit" [disabled]="resetForm.invalid">Send Reset link</button>
    </form>

    <p class="info container">You will recieve an reset email shortly after submitting your email address.</p>

</div>