<div class="server-update" *ngIf="newSupervisors.length">
  New Supervisors available <button (click)="updateSupervisorsArray()">Update</button>
</div>

<h2 class="center">Supervisor Managment</h2>

<app-search (query)="onQuery($event)"></app-search>

<hr class="divider" />

<div class="add-new-wrapper">
  <h4>Add new Supervisor</h4>
  <button class="btn-add" routerLink="/admin/supervisors-managment/add">+</button>
</div>

<div *ngIf="isLoading; then Loading; else mainArea"></div>

<ng-template #Loading>LOADING...</ng-template>

<ng-template #mainArea>
  <div class="table-wrapper" *ngIf="!serverError">
    <table class="table-container supevisor-data">
      <tr>
        <th class="left">Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>

      <tr
        *ngFor="
          let supervisor of isSearching ? filteredSupervisors : supervisors;
          trackBy: trackByFn
        "
      >
        <td class="left">
          {{ supervisor.name }} <span class="modified-element" *ngIf="supervisor.deleted || supervisor.updated">{{ supervisor.deleted ? "(Deleted)" : "(Updated)"}}</span>
        </td>
        <ng-container *ngIf="!supervisor.deleted">
          <td
            class="clickable"
            routerLink="/admin/supervisors-managment/update"
            [queryParams]="{ _id: supervisor._id, name: supervisor.name }"
          >
            <i class="fa fa-pen"></i>
          </td>
          <td class="clickable" (click)="onSupervisorDelete(supervisor._id)">
            <i class="fa fa-trash"></i>
          </td>
        </ng-container>
      </tr>
    </table>
  </div>

  <div *ngIf="serverError">
    <h6 class="error">{{ serverMsg }}</h6>
  </div>
</ng-template>
