@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css";
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i,900,900i&display=swap";
@import "https://fonts.googleapis.com/css?family=Mukta&display=swap";

:root {
  --primary-color: #da5f2a;
  --secondary-color: teal;
  --disabled-secondary-color: #16b1b1;
  --secondary-hover-color: #026d6d;
  --text-primary-color: #f1e9da;
  --color-accent: #f15715;
  --color-accent-hover: #c94208;
  --disabled-color-accent: #df7e55;
  --background-color: #ece5e4;
  --header-height: 10vh;
  --side-nav-width: 20vw;
  --table-primary-hover-bg: #c2c2c2;
  --table-odd-color: #ececec;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

body {
  background: var(--background-color);
  font-family: "Mukta", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

button {
  cursor: pointer;
}

.container {
  width: 90%;
  margin: auto;
}

.btn-primary {
  background: var(--color-accent);
  color: var(--text-primary-color);
  border: none;
  transition: background-color 0.2s ease-out;
  border-radius: 5px;
}

.btn-primary:not([disabled]):hover {
  background: var(--color-accent-hover);
}

.btn-add {
  background: #16aa2f;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.2s ease-in;
}

.btn-add:hover {
  background: #0c8620;
}

.btn-alert {
  background: #cc3636;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.btn-alert:disabled {
  background: #ca5151;
}

.btn-alert:not([disabled]):hover {
  background: #c22727;
}

.btn-transparent {
  background: transparent;
  border: none;
}

.center {
  text-align: center;
}

.divider {
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 3px;
  display: block;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

textarea,
input,
button,
select {
  outline: none;
}

button {
  transition: background-color 0.1s ease-in;
}

.server-msg {
  margin-bottom: 10px;
  background-color: green;
  color: #ddd;
  padding: 3px 5px;
  border-radius: 5px;
  border: 2px solid greenyellow;
}

.server-msg.error {
  background-color: #cc4141;
  border: 2px solid red;
}

table.table-container {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 4vh;
}

table th,
table td {
  text-align: center;
}

table th {
  background: #223 !important;
  color: #fff;
  padding: 10px 20px;
}

table tr {
  transition: background-color 0.1s ease-out;
}

table td {
  padding: 15px 20px !important;
}

table tr:nth-child(odd) {
  background: #ececec;
}

table tr:hover {
  background: #c2c2c2 !important;
}

.table-wrapper {
  overflow: hidden !important;
}

table .clickable {
  cursor: pointer;
}

table .clickable i {
  transition: color 0.1s ease-in;
}

.add-new-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4vh;
  overflow: hidden;
}

.modified-element {
  font-style: italic;
  color: gray;
  font-size: 15px;
}

.server-update {
  background: #18a518;
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 4vh;
}

.server-update button {
  background: #105810;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.server-update button:hover {
  background: #0a410a;
}

.left {
  text-align: left;
}

.green { 
  color: green;
}

.red { 
  color: red;
}

/*  */

@media only screen and (max-width: 1040px) {
  header {
    padding: 0 3vw !important;
  }

  .side-nav {
    transform: translateX(-100%);
    width: 30vw !important;
  }

  .side-nav.active {
    transform: translateX(0) !important;
  }

  .main-section {
    margin-left: 0 !important;
    padding: 2vh 3vw !important;
  }

  .user-dropdown {
    width: 15vw !important;
  }

  .notification-wrapper {
    width: 30vw !important;
  }
}

@media only screen and (max-width: 940px) {
  .form-item {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .form-wrapper {
    width: 90% !important;
  }

  .btn-sub,
  .btn-alert {
    width: 15vw !important;
    padding: 15px 0 !important;
  }

  .btn {
    width: 20vw !important;
  }

  .mob-full-width {
    width: 100% !important;
  }

  .notification-wrapper {
    width: 40vw !important;
  }
}

@media only screen and (max-width: 800px) {
  table {
    white-space: nowrap;
  }

  .table-wrapper {
    overflow-x: auto !important;
  }

  .inputs-wrapper {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .notification-wrapper {
    width: 40vw !important;
  }
}

@media only screen and (max-width: 650px) {
  .form-group {
    display: block !important;
  }

  .control-wrapper {
    width: 100% !important;
  }

  .user-dropdown {
    width: 20vw !important;
  }

  .side-nav {
    font-size: 15px;
    width: 40vw !important;
  }

  .notification-wrapper {
    width: 50vw !important;
  }
}

@media only screen and (max-width: 460px) {
  .side-nav {
    width: 50vw !important;
  }
}

@media only screen and (max-width: 400px) {
  .side-nav {
    width: 60vw !important;
    font-size: 15px;
  }

  .wrapper-card {
    max-width: 80vw !important;
    width: 80vw !important;
  }

  .notification-wrapper {
    width: 80vw !important;
  }
}
